:root{
	--text-color:        hsl(0  , 0% , 100%);
	--border-color:      hsl(0  , 0% , 100%);
	--border-color-dark: hsl(224, 7% , 42%);
	--background-color:  hsl(220, 2%, 12%);
	--surface-1-color:   hsl(235, 4% , 20%);
	--surface-2-color:   hsl(220, 4% , 30%);
	--surface-3-color:   hsl(240, 4% , 46%);
	--primary-color:     hsl(219, 79%, 66%);
	--accent-color:      hsl(44 , 43%, 58%);
}

:root.light{
	--text-color:        hsl(0, 0%, 0%);
	--border-color:      hsl(0, 0%, 0%);
	--border-color-dark: hsl(0, 0%, 45%);
	--background-color:  hsl(0, 0%, 100%);
	--surface-1-color:   hsl(0, 0%, 88%);
	--surface-2-color:   hsl(0, 0%, 73%);
	--surface-3-color:   hsl(0, 0%, 57%);
	--primary-color:     hsl(219, 79%, 66%);
	--accent-color:      hsl(44 , 43%, 58%);
}

:root{
	--grad0: repeating-linear-gradient(
		90deg,
		#007ccf 0%,
		#ffffff 30%,
		#ffffff 70%,
		#007ccf 100%
	);
		--grad2: repeating-linear-gradient(
		90deg, 
		#389e35 0%, 
		#ffffff 30%, 
		#ffffff 70%, 
		#389e35 100%
	);
	--grad3: repeating-linear-gradient(
		90deg,
		#be00cf 0%,
		#ffffff 30%,
		#ffffff 70%,
		#be00cf 100%
	);
	--grad5: repeating-linear-gradient(
		90deg,
		#d85252 0%,
		#ffffff 30%,
		#ffffff 70%,
		#d85252 100%
	);
	--grad4: repeating-linear-gradient(
		90deg,
		#005e51 0%,
		#ffffff 30%,
		#ffffff 70%,
		#005e51 100%
	);
	--grad1: repeating-linear-gradient(
		90deg,
		#fffb1d 0%,
		#ffffff 30%,
		#ffffff 70%,
		#fffb1d 100%
	);
}

.item-amount-slider{
	position: fixed;
	z-index: 9999;
	background-color: rgba(10, 10, 10, 0.2);
	border-radius: 5px;
}

.item-amount-slider-slider{
	width: 250px;
	pointer-events: none;
}

.item-amount-slider-text{
	margin: 0;
	text-align: center;
	font-size: 28px;
	pointer-events: none;
}

.text-border {
	font-size: 48px;
	font-weight: bold;
	color: black;
	text-shadow:
	2px 0 white,
	-2px 0 white,
	0 2px white,
	0 -2px white,
	1px 1px white,
	-1px -1px white,
	1px -1px white,
	-1px 1px white;
}

.inventory-grid-cell{
	background-color: var(--surface-3-color);
	background-size: cover;
	margin: 2px;
	width: 80px;
	height: 80px;
	user-select: none;
	border-width: 2px; 
	border-style: inset;
	border-color: var(--border-color);
	display: flex;
	align-items: end;
}

.machine{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-size: cover;
	width: 100px;
	height: 100px;
}

.progress-bar{
	box-sizing: border-box;
	width: 100%;
	height: 12px;
	border-radius: 6px;
	border: solid var(--border-color) 1px;
	overflow: hidden;
}

.progress-bar-fill{
	background-color: var(--primary-color);
	height: 100%;
}

.warning-icon{
	animation: blinker 3s ease infinite;
	position: absolute;
	width: 60%;
	pointer-events: none;
}

.warning-icon img{
	width: 100%;
	aspect-ratio: 1/1;
}