
body{
    color: white;
    background-color: rgb(40, 41, 43);
}

.stack{
    position: relative;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 15px;
    position: absolute;
}

.grid-cell{
    background-color: gray;
}

.grid-cell1{
    background-color: rgb(195, 170, 103);
}

.grid-tiny{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 15px;
}

.empty-cell-tiny{
    background-color: rgb(79, 75, 87);
    border: 6px rgb(76, 55, 85);
    border-style: inset;
}

.grid-small{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 15px;
}

.empty-cell-small{
    background-color: rgb(191, 203, 211);
    border: 6px rgb(145, 172, 204);
    border-style: inset;
}

.machine{
    display: grid;
    gap: 5px;
}
