
:root{
    --text-color:        hsl(0  , 0% , 100%);
    --border-color:      hsl(0  , 0% , 100%);
    --border-color-dark: hsl(224, 7% , 42%);
    --background-color:  hsl(220, 2%, 12%);
    --surface-1-color:   hsl(235, 4% , 20%);
    --surface-2-color:   hsl(220, 4% , 30%);
    --surface-3-color:   hsl(240, 4% , 46%);
    --primary-color:     hsl(219, 79%, 66%);
    --accent-color:      hsl(44 , 43%, 58%);
}

:root.light{
    --text-color:        hsl(0, 0%, 0%);
    --border-color:      hsl(0, 0%, 0%);
    --border-color-dark: hsl(0, 0%, 45%);
    --background-color:  hsl(0, 0%, 100%);
    --surface-1-color:   hsl(0, 0%, 88%);
    --surface-2-color:   hsl(0, 0%, 73%);
    --surface-3-color:   hsl(0, 0%, 57%);
    --primary-color:     hsl(219, 79%, 66%);
    --accent-color:      hsl(44 , 43%, 58%);
}

@keyframes blinker {
    50% { opacity: 0; }
}

body{
    color: var(--text-color);
    background-color: var(--background-color);
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
}

.loading > :not(#loading-screen) {
    display: none!important; 
}

body:not(.loading) #loading-screen{
    display: none;
}

main{
    flex-grow: 1;
    position: relative;
    height: 100%;
    overflow-y: auto;
}

#mouse-icon{
    position: fixed;
    z-index: 99999999999999999999999; /*This was the only solution that worked...*/
    pointer-events: none;
    will-change: transform;
}

.background-gradient{
    /*Basic*/
    --grad0: repeating-linear-gradient(
        90deg,
        #007ccf 0%,
        #ffffff 30%,
        #ffffff 70%,
        #007ccf 100%
    );
    /*Solid*/
    --grad1: repeating-linear-gradient(
        90deg,
        #fffb1d 0%,
        #ffffff 30%,
        #ffffff 70%,
        #fffb1d 100%
    );
    /*Reinforced*/
    --grad2: repeating-linear-gradient(
        90deg,
        #be00cf 0%,
        #ffffff 30%,
        #ffffff 70%,
        #be00cf 100%
    );
    /*Advanced*/
    --grad3: repeating-linear-gradient(
        90deg,
        #d85252 0%,
        #ffffff 30%,
        #ffffff 70%,
        #d85252 100%
    );
    /*Industrial*/
    --grad4: repeating-linear-gradient(
        90deg,
        #005e51 0%,
        #ffffff 30%,
        #ffffff 70%,
        #005e51 100%
    );
    /*Extreme*/
    --grad5: repeating-linear-gradient(
        90deg,
        #00ffdd 0%,
        #d261ff 30%,
        #d261ff 70%,
        #00ffdd 100%
    );
    /*Insane*/
    --grad6: repeating-linear-gradient(
        90deg,
        #ff0000 0%,
        #9861ff 45%,
        #9861ff 55%,
        #ff0000 100%
    );
    /*Ludicrous*/
    --grad7: repeating-linear-gradient(
        90deg,
        #ff6161,
        #ff9361,
        #ffe761,
        #8eff61,
        #61ffdd,
        #61a5ff,
        #616bff,
        #ff61e5,
        #ff6161
    );

    background: var(--grad0);

    background-size: 500px 100%; /* EXACT pattern width (8 + 40 + 8? no — just total cycle) */
    animation: movingGradient 3s linear infinite;
}

@keyframes movingGradient {
    from { background-position: 0 0; }
    to   { background-position: 500px 0; }
}

.mouse-info-panel{
    border: solid hsla(240, 30%, 14%, 0.9) 4px;
    border-radius: 10px;
    padding: 4px;
    opacity: 90%;
}

.mouse-info-panel-body{
    background-color: hsla(240, 30%, 14%, 1);
    border-radius: 5px;
    padding: 5px;
}

.mouse-info-panel-body hr{
    border: none;
    height: 5px;
}

.stack{
    position: relative;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 15px;
    position: absolute;
}

.side-menu{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 20px;
    grid-template-rows: 60px auto;
    margin-right: 5px;
    border: solid var(--border-color) 2px;
    border-radius: 5px;
    background-color: var(--surface-1-color);
    height: 98vh;
}

.side-menu-grid{
    display: flex;
    flex-wrap: wrap;
}

.side-menu-width-button{
    grid-area: 1/4/3/5 ;
    background-color: var(--background-color);
    border: none;
    margin: 1px;
}

.side-menu-width-button:hover{
    background-color: var(--surface-3-color);
}

.side-menu-header-button{
    color: var(--text-color);
    background-color: var(--surface-1-color);
    border: 2px;
    border-style: solid;
    border-color: var(--background-color);
    border-radius: 5px;
    margin: 5px;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
}

.side-menu-header-button:hover{
    background-color: var(--surface-2-color);
}

.inventory-grid-cell{
    background-color: var(--surface-3-color);
    background-size: cover;
    margin: 2px;
    width: 80px;
    height: 80px;
    user-select: none;
    border-width: 2px; 
    border-style: inset;
    border-color: var(--border-color);
    display: flex;
    align-items: end;
}

.machine{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    width: 100px;
    height: 100px;
}

.machine > p{
    margin: 0;
}

.machine-line{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: start;
    padding: 5px;
    border: solid var(--border-color) 2px;
    border-radius: 5px;
}

.machine-line-cell{
    width: 100px;
    height: 100px;
    border: dashed var(--border-color-dark) 2px;
    background-color: var(--background-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: large;
    user-select: none;
}

.factory{
    display: grid;
    gap: 5px;
}

.item-amount-slider{
    position: fixed;
    z-index: 9999;
    background-color: rgba(10, 10, 10, 0.2);
    border-radius: 5px;
}

.item-amount-slider-slider{
    width: 250px;
    pointer-events: none;
}

.item-amount-slider-text{
    margin: 0;
    text-align: center;
    font-size: 28px;
    pointer-events: none;
}

.text-border {
    font-size: 48px;
    font-weight: bold;
    color: black;
    text-shadow:
    2px 0 white,
    -2px 0 white,
    0 2px white,
    0 -2px white,
    1px 1px white,
    -1px -1px white,
    1px -1px white,
    -1px 1px white;
}

.machine-window{
    position: absolute;
    width: 100%;
    height: 95vh;
    background-color: var(--surface-1-color);
    border: solid var(--border-color) 1px;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 9999;
}

.recipe-window{
    position: absolute;
    width: 100%;
    height: 95vh;
    background-color: var(--surface-1-color);
    border: solid var(--border-color) 1px;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 9999;
}

.progress-bar{
    box-sizing: border-box;
    width: 100%;
    height: 12px;
    border-radius: 6px;
    border: solid var(--border-color) 1px;
    overflow: hidden;
}

.progress-bar-fill{
    background-color: var(--primary-color);
    height: 100%;
}

.warning-icon{
    animation: blinker 3s ease infinite;
    position: absolute;
    width: 60%;
    pointer-events: none;
}

.warning-icon img{
    width: 100%;
    aspect-ratio: 1/1;
}

.resources{
    display: flex;
    border-top-style: solid;
    border-top-color: var(--border-color);
    border-top-width: 2px;
    gap: 40px;
    overflow-x: scroll;
}

.processing-line-button {
  width: 100px;
  height: 100px;
  border: dashed var(--border-color-dark) 2px;
  background-color: rgba(126, 126, 126, 0);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--border-color-dark);
  font-size: large;
  user-select: none;
}

.recipe-card{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    background-color: var(--surface-2-color);
    border: solid 2px var(--border-color-dark);
    border-radius: 5px;
    width: fit-content;
    padding: 3px;
}

.recipe-card-info{
    grid-area: 1/1/2/-1;
}

.recipe-card-io{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.recipe-card-io img{
    width: 100px;
}

.held-item-icon{
    position: relative;
    display: flex;
    align-items: end;
    span{
        position: absolute;
    }
}

.capability-box{
    display: grid;
    grid-template-columns: 80px auto;
    gap: 5px;
    border-top: solid 2px var(--border-color);
}

.capability-box img{
    width: 100%;
}

.capability-box-header{
    text-align: center;
    grid-area: 1/1/2/3;
}